<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>My Library</h1>
<ul>
    {% if not books %}
        <li><p>Library is empty.</p></li>
    {% else %}
        {% for i in books %}
        <li><a href="{{ url_for('delete', id=i['id']) }}">Delete</a> {{i["title"]}} - {{i["author"]}} - {{i["rating"]}}/10 <a href="{{url_for('edit_rating', book_id=i['id'])}}">Edit Rating</a></li>
        {% endfor %}
    {% endif %}
</ul>

<a href="{{url_for('add')}}">Add New Book</a>
</body>
</html>